.board {
  background-color: red;
  color: white;
}

.cell {
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  margin-right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  &.cell--correct {
    background-color: green;
    color: white;
  }
  &.cell--present {
    background-color: orange;
    color: white;
  }
  &.cell--absent {
    background-color: lightgray;
    color: white;
  }
}
